Modules/QS.Banks.Contracts/XMLSchemas/ed/cbr_ed510_v2025.2.1.xsd

<?xml version="1.0" encoding="windows-1251"?>
<!--Центральный Банк Российской Федерации.
Унифицированные форматы электронных банковских сообщений.

ППС 

Схемы с описанием прикладных частей электронных сообщений, используемых в расчетной сети Банка России.

-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ed="urn:cbr-ru:ed:v2.0" xmlns:lt="urn:cbr-ru:ed:leaftypes:v2.0" targetNamespace="urn:cbr-ru:ed:v2.0" elementFormDefault="qualified" version="2025.2.1">
	<xs:include schemaLocation="cbr_ed_objects_v2025.2.1.xsd" />
	<xs:import namespace="urn:cbr-ru:ed:leaftypes:v2.0" schemaLocation="cbr_ed_leaftypes_v2025.2.1.xsd" />
	<xs:annotation>
		<xs:documentation>Прикладные части ЭС</xs:documentation>
	</xs:annotation>
	<xs:element name="ED510" type="ed:ED510"/>
	<xs:complexType name="ED510">
      		<xs:annotation>
         		<xs:documentation>Информация об услугах, предоставленных Банком России пользователю СПФС</xs:documentation>
      		</xs:annotation>
      		<xs:complexContent>
         		<xs:extension base="ed:ESWithMandatoryEDReceiver">
            			<xs:sequence>
               				<xs:element name="PayServicesCodeList" type="ed:PayServicesCodeList" minOccurs="0" maxOccurs="unbounded">
                  				<xs:annotation>
                     					<xs:documentation>Список предоставленных платных услуг по видам</xs:documentation>
                  				</xs:annotation>
               				</xs:element>
               				<xs:element name="FreeServicesCodeList" type="ed:FreeServicesCodeList" minOccurs="0" maxOccurs="unbounded">
                  				<xs:annotation>
                     					<xs:documentation>Список предоставленных бесплатных услуг по видам</xs:documentation>
                  				</xs:annotation>
               				</xs:element>
            			</xs:sequence>
		      		<xs:attribute name="RegisterNo" type="lt:Max6NumberType" use="required">
         				<xs:annotation>
            					<xs:documentation>Номер реестра</xs:documentation>
		         		</xs:annotation>
      				</xs:attribute>
		      		<xs:attribute name="TotalSum" type="lt:NotNegativeKopeckAmountType" use="required">
         				<xs:annotation>
            					<xs:documentation>Общая сумма платы за предоставленные услуги</xs:documentation>
		         		</xs:annotation>
      				</xs:attribute>
         		</xs:extension>
      		</xs:complexContent>
   	</xs:complexType>
</xs:schema>
