Modules/QS.Banks.Contracts/XMLSchemas/ed/cbr_ed507_v2025.2.1.xsd

<?xml version="1.0" encoding="Windows-1251"?>
<!--Центральный Банк Российской Федерации.
Унифицированные форматы электронных банковских сообщений.

ППС 

Схемы с описанием прикладных частей электронных сообщений, используемых в расчетной сети Банка России.

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ed="urn:cbr-ru:ed:v2.0" xmlns:lt="urn:cbr-ru:ed:leaftypes:v2.0" targetNamespace="urn:cbr-ru:ed:v2.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2025.2.1">
	<xs:include schemaLocation="cbr_ed_objects_v2025.2.1.xsd"/>
	<xs:import namespace="urn:cbr-ru:ed:leaftypes:v2.0" schemaLocation="cbr_ed_leaftypes_v2025.2.1.xsd"/>
	<xs:annotation>
		<xs:documentation>Локальные прикладные объекты</xs:documentation>
	</xs:annotation>
	<xs:complexType name="ISOErrCodeList">
		<xs:annotation>
			<xs:documentation>Список кодов ошибок ISO</xs:documentation>
			<xs:documentation>На случай, если будем контролировать содержимое сообщений ISO</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ISOErrAnnotation" type="lt:Max150TextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Текст пояснения.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="ISOErrCode" type="lt:Eq3TextType" use="required">
			<xs:annotation>
				<xs:documentation>Код ошибки</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ISODocCtrlInfo">
		<xs:annotation>
			<xs:documentation>Информация о контроле сообщения ISO</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Annotation" type="lt:Max150TextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Текст пояснения.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ISOErrCodeList" type="ed:ISOErrCodeList" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Список кодов ошибок ISO</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="TerminalSessionNum" type="lt:Max35TextType" use="required">
			<xs:annotation>
				<xs:documentation>Идентификатор сообщения ISO</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ISOCtrlCode" type="lt:ControlCodeType">
			<xs:annotation>
				<xs:documentation>Код результата контроля ЭС (пакета ЭС).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Прикладные части ЭС</xs:documentation>
	</xs:annotation>
	<xs:element name="ED507" type="ed:ED507"/>
	<xs:complexType name="ED507">
		<xs:annotation>
			<xs:documentation>Информация о состоянии ЭС, содержащем сообщения формата ISO</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ed:ESID">
				<xs:sequence>
					<xs:element name="EDRefID" type="ed:EDRefID">
						<xs:annotation>
							<xs:documentation>Идентификаторы исходного ЭС</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ISODocCtrlInfo" type="ed:ISODocCtrlInfo" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Информация о контроле сообщения ISO</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="SenderSWIFTBIC" type="lt:UICIDType">
					<xs:annotation>
						<xs:documentation>КП отправителя</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
