Modules/QS.Banks.Contracts/XMLSchemas/ed/cbr_ed217_v2025.2.1.xsd

<?xml version="1.0" encoding="Windows-1251"?>
<!--Центральный Банк Российской Федерации.
Унифицированные форматы электронных банковских сообщений.

Схемы с описанием прикладных частей электронных сообщений, используемых в расчетной сети Банка России.

-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ed="urn:cbr-ru:ed:v2.0" xmlns:lt="urn:cbr-ru:ed:leaftypes:v2.0" targetNamespace="urn:cbr-ru:ed:v2.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2025.2.1">
	<xs:include schemaLocation="cbr_ed_objects_v2025.2.1.xsd"/>
	<xs:import namespace="urn:cbr-ru:ed:leaftypes:v2.0" schemaLocation="cbr_ed_leaftypes_v2025.2.1.xsd"/>
	<xs:annotation>
		<xs:documentation>Локальные прикладные объекты</xs:documentation>
	</xs:annotation>
	<xs:complexType name="AccDocInfo">
	        <xs:annotation>
		         <xs:documentation>Реквизиты расчетного документа и сумма</xs:documentation>
	        </xs:annotation>
		<xs:attribute name="AccDocNo" type="lt:AccountDocIDType">
		         <xs:annotation>
			            <xs:documentation>Номер расчетного документа</xs:documentation>
		         </xs:annotation>
		</xs:attribute>
		<xs:attribute name="AccDocDate" type="lt:DateType" use="required">
		         <xs:annotation>
			            <xs:documentation>Дата выписки расчетного документа</xs:documentation>
		         </xs:annotation>
      		</xs:attribute>
		<xs:attribute name="Sum" type="lt:KopeckAmountType" use="required">
		         <xs:annotation>
			            <xs:documentation>Сумма ЭПС</xs:documentation>
		         </xs:annotation>
	        </xs:attribute>
		<xs:attribute name="CashDocNo" type="lt:CashDocIDType">
		         <xs:annotation>
			            <xs:documentation>Номер кассового документа</xs:documentation>
		         </xs:annotation>
		</xs:attribute>
		<xs:attribute name="PaytKind" type="lt:OneDigitCodeType">
			<xs:annotation>
				<xs:documentation>Вид платежа</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CreditInfo">
		<xs:annotation>
			<xs:documentation>Информация об одном документе (или рейсе), исполнение которого привело к предоставлению/ погашению внутридневного кредита</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AccDocInfo" type="ed:AccDocInfo" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Реквизиты расчетного документа и его сумма</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="SessionID" type="lt:SessionIDType">
			<xs:annotation>
				<xs:documentation>Номер рейса (сеанса)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CreditOperation" type="lt:OneDigitCodeType" use="required">
			<xs:annotation>
				<xs:documentation>Признак предоставления/погашения внутридневного кредита</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CreditLimit" type="lt:BalanceKopeckAmountType" use="required">
			<xs:annotation>
				<xs:documentation>Текущий размер лимита внутридневного кредита и кредита овернайт</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="EndTime" type="lt:TimeType">
			<xs:annotation>
				<xs:documentation>Время исполнения</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DebtBefore" type="lt:BalanceKopeckAmountType">
			<xs:annotation>
				<xs:documentation>Сумма задолженности по предоставленному внутридневному кредиту до исполнения документа</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DebtAfter" type="lt:BalanceKopeckAmountType">
			<xs:annotation>
				<xs:documentation>Сумма задолженности по предоставленному внутридневному кредиту после исполнения документа</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Прикладные части ЭС</xs:documentation>
	</xs:annotation>
	<xs:element name="ED217" type="ed:ED217"/>
	<xs:complexType name="ED217">
		<xs:annotation>
			<xs:documentation>Извещение о задолженности по внутридневному кредиту</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ed:ESIDWithPartInfo">
				<xs:sequence>
					<xs:element name="CreditInfo" type="ed:CreditInfo" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Информация об одном документе (или рейсе), исполнение которого привело к предоставлению/ погашению внутридневного кредита</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="InfoDate" type="lt:DateType" use="required">
					<xs:annotation>
						<xs:documentation>Дата составления информации о динамике состояния корреспондентского счета кредитной организации</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="BIC" type="lt:BICRUIDType" use="required">
					<xs:annotation>
						<xs:documentation>БИК банка</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="CorrespAcc" type="lt:AccountNumberRUIDType" use="required">
					<xs:annotation>
						<xs:documentation>Корреспондентский счет / корреспондентский субсчет (основной счет)</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
