Modules/QS.Banks.Contracts/XMLSchemas/ed/cbr_ed253_v2025.2.1.xsd

<?xml version="1.0" encoding="windows-1251"?>
<!-- edited with XMLSpy v2018 rel. 2 sp1 (x64) (http://www.altova.com) by USER (ORG) -->
<!--Центральный Банк Российской Федерации.
Унифицированные форматы электронных банковских сообщений.

Схемы с описанием прикладных частей электроных сообщений, используемых в расчетной сети Банка России.
Обмен УФК-ОД ОПЕРУ1
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ed="urn:cbr-ru:ed:v2.0" xmlns:lt="urn:cbr-ru:ed:leaftypes:v2.0" targetNamespace="urn:cbr-ru:ed:v2.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2025.2.1">
	<xs:include schemaLocation="cbr_ed_objects_v2025.2.1.xsd"/>
	<xs:import namespace="urn:cbr-ru:ed:leaftypes:v2.0" schemaLocation="cbr_ed_leaftypes_v2025.2.1.xsd"/>
	<xs:annotation>
		<xs:documentation>Локальные прикладные объекты</xs:documentation>
	</xs:annotation>
	<xs:element name="CurrencyBS" type="ed:CurrencyBS"/>
	<xs:complexType name="CurrencyBS">
		<xs:annotation>
			<xs:documentation>Тип операции с валютой/ драгоценными металлами</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Account" type="lt:AccountNumberRUIDType">
				<xs:annotation>
					<xs:documentation>Счет</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrencyCode" type="lt:CurrencyIDType">
				<xs:annotation>
					<xs:documentation>Код валюты/ драгоценного металла</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Sum" type="lt:NotNegativeSumDecimalType">
				<xs:annotation>
					<xs:documentation>Сумма/ масса драгоценного металла</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValueDate" type="lt:DateType">
				<xs:annotation>
					<xs:documentation>Дата валютирования/ дата расчетов</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PrimaryDocRef" type="ed:PrimaryDocRef"/>
	<xs:complexType name="PrimaryDocRef">
		<xs:annotation>
			<xs:documentation>Реквизиты первичного документа</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DocType" type="lt:DocIDType">
				<xs:annotation>
					<xs:documentation>Тип документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EDNo" type="lt:EDNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер ЭС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EDDate" type="lt:DateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата составления ЭС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EDAuthor" type="lt:EDDrawerIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификатор составителя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeclarationDate" type="lt:DateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата заявления</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeclarationNo" type="lt:DeclarationNoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер заявления</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ExchangeOpRcpt" type="ed:ExchangeOpRcpt"/>
	<xs:complexType name="ExchangeOpRcpt">
		<xs:annotation>
			<xs:documentation>Покупка/продажа иностранной валюты</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SlipNo" type="lt:Max20TextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер слипа операции</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SlipDate" type="lt:DateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата слипа операции</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrencyBought" type="ed:CurrencyBS">
				<xs:annotation>
					<xs:documentation>Куплено валюты/ драгоценных металлов</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrencySold" type="ed:CurrencyBS">
				<xs:annotation>
					<xs:documentation>Продано валюты/ драгоценных металлов</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RateType" type="lt:CurrencyRateIDType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Тип курса сделки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SettlementRate" type="lt:SettlementRateType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Курс сделки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrimaryDocRef" type="ed:PrimaryDocRef" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Реквизиты первичного документа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CustomerOfRemittanceOp" type="ed:CustomerOfRemittanceOp"/>
	<xs:complexType name="CustomerOfRemittanceOp">
		<xs:annotation>
			<xs:documentation>Участник в переводе средств в иностранной валюте</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SwiftCode" type="lt:FloatSWIFTIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>SWIFT-код</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Account" type="lt:AccountNumberRUIDType">
				<xs:annotation>
					<xs:documentation>Счет</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Nostro" type="lt:AccountNumberIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Счет НОСТРО</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Customs" type="ed:Customs"/>
	<xs:complexType name="Customs">
		<xs:annotation>
			<xs:documentation>Информация о таможне</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomsCode" type="lt:CustomsCodeIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код таможни</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsINN" type="lt:INNIDTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ИНН таможни</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsDescription" type="lt:Max355TextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование таможни</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SWIFT-Fields" type="ed:SWIFT-Fields"/>
	<xs:complexType name="SWIFT-Fields">
		<xs:annotation>
			<xs:documentation>Поля SWIFT-сообщения</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OrderingCustomer" type="lt:Max500TextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Клиент-перевододатель (поле SWIFT-сообщения 50)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InstitutionsInfo" type="lt:Max2000TextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Информация о банковских организациях плательщика, получателя и посредниках (поля SWIFT-сообщения с 51 по 58)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Beneficiary" type="lt:Max500TextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Клиент-получатель (поле SWIFT-сообщения 59)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RemittanceInfo" type="lt:Max500TextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Назначение платежа (поле SWIFT-сообщения 70)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SenderToReceiverInfo" type="lt:Max500TextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Информация отправителя получателю (поле SWIFT-сообщения 72)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrencyAmount" type="lt:Max20TextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код валюты/Исходная сумма поручения (поле SWIFT – сообщения 33В)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExchangeRate" type="lt:Max20TextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Курс конвертации (поле SWIFT – сообщения 36)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DetailsOfCharges" type="lt:Max4TextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Детали расходов (поле SWIFT – сообщения 71А)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SendersCharges" type="lt:Max20TextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Расходы отправителя (поле SWIFT – сообщения 71F)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="RemittancePrimaryDocRef" type="ed:RemittancePrimaryDocRef"/>
	<xs:complexType name="RemittancePrimaryDocRef">
		<xs:annotation>
			<xs:documentation>Реквизиты первичного документа</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DocType" type="lt:DocIDType">
				<xs:annotation>
					<xs:documentation>Тип документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EDNo" type="lt:EDNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер ЭС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EDDate" type="lt:DateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата составления ЭС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EDAuthor" type="lt:EDDrawerIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификатор составителя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocDate" type="lt:DateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocNo" type="lt:Max30TextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер документа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="RemittanceOpRcpt" type="ed:RemittanceOpRcpt"/>
	<xs:complexType name="RemittanceOpRcpt">
		<xs:annotation>
			<xs:documentation>Перевод средств в иностранной валюте</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SlipNo" type="lt:Max20TextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер слипа операции</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SlipDate" type="lt:DateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата слипа операции</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValueDate" type="lt:DateType">
				<xs:annotation>
					<xs:documentation>Дата валютирования/ дата расчетов</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrencyCode" type="lt:CurrencyIDType">
				<xs:annotation>
					<xs:documentation>Код валюты/ драгоценного металла</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Customer" type="ed:CustomerOfRemittanceOp">
				<xs:annotation>
					<xs:documentation>Плательщик</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Beneficiary" type="ed:CustomerOfRemittanceOp">
				<xs:annotation>
					<xs:documentation>Получатель</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Sum" type="lt:NotNegativeSumDecimalType">
				<xs:annotation>
					<xs:documentation>Сумма</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Customs" type="ed:Customs" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Информация о таможне</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SWIFT-Fields" type="ed:SWIFT-Fields" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Поля SWIFT-сообщения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrimaryDocRef" type="ed:RemittancePrimaryDocRef">
				<xs:annotation>
					<xs:documentation>Реквизиты первичного документа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="OthersOpRcpt" type="ed:OthersOpRcpt"/>
	<xs:complexType name="OthersOpRcpt">
		<xs:annotation>
			<xs:documentation>Прочие операции</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SlipNo" type="lt:Max20TextType">
				<xs:annotation>
					<xs:documentation>Номер слипа операции</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CancelOpRcpt" type="ed:CancelOpRcpt"/>
	<xs:complexType name="CancelOpRcpt">
		<xs:annotation>
			<xs:documentation>Отклонение заявки на покупку/продажу или перевод</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EDNo" type="lt:EDNumberType">
				<xs:annotation>
					<xs:documentation>Номер ЭС, содержавшего отклоненное заявление</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EDDate" type="lt:DateType">
				<xs:annotation>
					<xs:documentation>Дата составления ЭС, содержавшего отклоненное заявление</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EDAuthor" type="lt:EDDrawerIDType">
				<xs:annotation>
					<xs:documentation>Идентификатор составителя ЭС, содержавшего отклоненное заявление</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeclarationDate" type="lt:DateType">
				<xs:annotation>
					<xs:documentation>Дата отклоненного заявления</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeclarationNo" type="lt:DeclarationNoType">
				<xs:annotation>
					<xs:documentation>Номер отклоненного заявления</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Cause" type="lt:Max140TextType">
				<xs:annotation>
					<xs:documentation>Причина отклонения заявления</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AccDocFK" type="ed:AccDocFK"/>
	<xs:complexType name="AccDocFK">
		<xs:annotation>
			<xs:documentation>Реквизиты расчетного документа</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AccDocNo" type="lt:AccountDocMax38IDType">
				<xs:annotation>
					<xs:documentation>Номер расчетного документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccDocDate" type="lt:DateType">
				<xs:annotation>
					<xs:documentation>Дата выписки расчетного документа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CustomerOfAccountingTransaction" type="ed:CustomerOfAccountingTransaction"/>
	<xs:complexType name="CustomerOfAccountingTransaction">
		<xs:annotation>
			<xs:documentation>Реквизиты клиента (плательщика или получателя)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PersonalAcc" type="lt:AccountNumberRUIDType">
				<xs:annotation>
					<xs:documentation>Лицевой счет клиента (поле 9 или 17)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="INN" type="lt:INNIDTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ИНН клиента (поле 60 или 61)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SumInCurrency" type="lt:NotNegativeSumDecimalType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сумма в валюте платежа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountingRate" type="lt:AccountingRateType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Учетный курс</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="lt:Max350TextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование плательщика или получателя (поле 8 или 16)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Bank" type="ed:BankFK">
				<xs:annotation>
					<xs:documentation>Реквизиты банка</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AccountingTransaction" type="ed:AccountingTransaction"/>
	<xs:complexType name="AccountingTransaction">
		<xs:annotation>
			<xs:documentation>ЭПД для отражения операции в учете</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EDNo" type="lt:EDNumberType">
				<xs:annotation>
					<xs:documentation>Номер ЭС в течение опердня</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EDDate" type="lt:DateType">
				<xs:annotation>
					<xs:documentation>Дата составления ЭС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EDAuthor" type="lt:EDDrawerIDType">
				<xs:annotation>
					<xs:documentation>Уникальный идентификатор составителя ЭС - УИС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransKind" type="lt:TwoDigitCodeType">
				<xs:annotation>
					<xs:documentation>Вид операции (поле 18)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Priority" type="lt:PaytPriorityCodeType">
				<xs:annotation>
					<xs:documentation>Очередность платежа (поле 21)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccDoc" type="ed:AccDocFK">
				<xs:annotation>
					<xs:documentation>Реквизиты исходного расчетного документа (поля 3 и 4)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Payer" type="ed:CustomerOfAccountingTransaction">
				<xs:annotation>
					<xs:documentation>Реквизиты плательщика (далее - "клиента") (поля 8-12, 60, 102)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Payee" type="ed:CustomerOfAccountingTransaction">
				<xs:annotation>
					<xs:documentation>Реквизиты получателя (далее - "корреспондента") (поля 14-17, 61, 103)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Purpose" type="lt:Max350TextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Назначение платежа (поле 24)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValueDate" type="lt:DateType">
				<xs:annotation>
					<xs:documentation>Дата валютирования/ дата расчетов</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransactionType" type="lt:TransactionIDType">
				<xs:annotation>
					<xs:documentation>Тип проводки</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Прикладные части ЭС</xs:documentation>
	</xs:annotation>
	<xs:element name="ED253" type="ed:ED253"/>
	<xs:complexType name="ED253">
		<xs:annotation>
			<xs:documentation>Совершенная операция</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ed:ED">
				<xs:sequence>
					<xs:element name="OpCode" type="lt:OpCodeIDType">
						<xs:annotation>
							<xs:documentation>Код операции</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ExchangeOpRcpt" type="ed:ExchangeOpRcpt" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Отчет о покупке/продаже иностранной валюты/ драгоценных металлов</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RemittanceOpRcpt" type="ed:RemittanceOpRcpt" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Отчет о переводе средств в иностранной валюте/ драгоценных металлов</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OthersOpRcpt" type="ed:OthersOpRcpt" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Отчет о прочих операциях</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CancelOpRcpt" type="ed:CancelOpRcpt" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Отчет об отклонении заявления на покупку/продажу или перевод</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AccountingTransaction" type="ed:AccountingTransaction" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>ЭПД для отражения операции в учете</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
