Modules/QS.Banks.Contracts/XMLSchemas/ed/cbr_ed541_v2025.2.1.xsd

<?xml version="1.0" encoding="windows-1251"?>
<!--Центральный Банк Российской Федерации.
Унифицированные форматы электронных банковских сообщений.

ППС 

Схемы с описанием прикладных частей электронных сообщений, используемых в расчетной сети Банка России.

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ed="urn:cbr-ru:ed:v2.0" xmlns:lt="urn:cbr-ru:ed:leaftypes:v2.0" targetNamespace="urn:cbr-ru:ed:v2.0" elementFormDefault="qualified" version="2025.2.1">
	<xs:include schemaLocation="cbr_ed_objects_v2025.2.1.xsd"/>
	<xs:import namespace="urn:cbr-ru:ed:leaftypes:v2.0" schemaLocation="cbr_ed_leaftypes_v2025.2.1.xsd"/>
	<xs:annotation>
		<xs:documentation>Локальные прикладные объекты</xs:documentation>
	</xs:annotation>
	<xs:complexType name="ED541List">
		<xs:annotation>
			<xs:documentation>Список электронных сообщений, отсортированный по EDProcessingTime</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ed:EDRefID">
				<xs:sequence>
					<xs:element name="EDRefID" type="ed:EDRefID" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификаторы исходного ЭС.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="EDTypeNo" type="lt:Max100XTextType" use="required">
					<xs:annotation>
						<xs:documentation>Тип ЭС</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="TransportFileName" type="lt:FNameIDType">
					<xs:annotation>
						<xs:documentation>Имя файла.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="EDProcessingTime" type="lt:TimeType" use="required">
					<xs:annotation>
						<xs:documentation>Время приема/отправки сообщения</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Прикладные части ЭС</xs:documentation>
	</xs:annotation>
	<xs:element name="ED541" type="ed:ED541"/>
	<xs:complexType name="ED541">
		<xs:annotation>
			<xs:documentation>Информация о переданных/полученных ЭС </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ed:ESIDWithPartInfo">
				<xs:sequence>
					<xs:element name="EDRequisiteList" type="ed:ED541List" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Список электронных сообщений, отсортированный по EDProcessingTime</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
