Modules/QS.Banks.Contracts/XMLSchemas/ed/cbr_ed505_v2025.2.1.xsd

<?xml version="1.0" encoding="Windows-1251"?>
<!--Центральный Банк Российской Федерации.
Унифицированные форматы электронных банковских сообщений.

ППС 

Схемы с описанием прикладных частей электронных сообщений, используемых в расчетной сети Банка России.

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ed="urn:cbr-ru:ed:v2.0" xmlns:lt="urn:cbr-ru:ed:leaftypes:v2.0" targetNamespace="urn:cbr-ru:ed:v2.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2025.2.1">
	<xs:include schemaLocation="cbr_ed_objects_v2025.2.1.xsd"/>
	<xs:import namespace="urn:cbr-ru:ed:leaftypes:v2.0" schemaLocation="cbr_ed_leaftypes_v2025.2.1.xsd"/>
	<xs:annotation>
		<xs:documentation>Локальные прикладные объекты</xs:documentation>
	</xs:annotation>
	<xs:complexType name="TSLCErrCodeList">
		<xs:annotation>
			<xs:documentation>Список кодов ошибок TSLC</xs:documentation>
			<xs:documentation>На случай, если будем контролировать содержимое сообщений TSLC</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TSLCErrAnnotation" type="lt:Max150TextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Текст пояснения.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="TSLCErrCode" type="lt:Eq3TextType" use="required">
			<xs:annotation>
				<xs:documentation>Код ошибки.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="TSLCDocCtrlInfo">
		<xs:annotation>
			<xs:documentation>Информация о контроле сообщения TSLC</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Annotation" type="lt:Max150TextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Текст пояснения.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TSLCErrCodeList" type="ed:TSLCErrCodeList" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Список кодов ошибок TSLC</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="TerminalSessionNum" type="lt:Max35TextType" use="required">
			<xs:annotation>
				<xs:documentation>Идентификатор сообщения TSLC</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TSLCCtrlCode" type="lt:ControlCodeType">
			<xs:annotation>
				<xs:documentation>Код результата контроля ЭС (пакета ЭС).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Прикладные части ЭС</xs:documentation>
	</xs:annotation>
	<xs:element name="ED505" type="ed:ED505"/>
	<xs:complexType name="ED505">
		<xs:annotation>
			<xs:documentation>Информация о состоянии ЭС, содержащем сообщения формата TSLC</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ed:ESID">
				<xs:sequence>
					<xs:element name="EDRefID" type="ed:EDRefID">
						<xs:annotation>
							<xs:documentation>Идентификаторы исходного ЭС</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TSLCDocCtrlInfo" type="ed:TSLCDocCtrlInfo" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Информация о контроле сообщения TSLC</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
