Modules/QS.Banks.Contracts/XMLSchemas/ed/cbr_ed574_v2025.2.1.xsd

<?xml version="1.0" encoding="Windows-1251"?>
<!--Центральный Банк Российской Федерации.
Унифицированные форматы электронных банковских сообщений.

ППС 

Схемы с описанием прикладных частей электронных сообщений, используемых в платежной системе Банка России.

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ed="urn:cbr-ru:ed:v2.0" xmlns:lt="urn:cbr-ru:ed:leaftypes:v2.0" targetNamespace="urn:cbr-ru:ed:v2.0" elementFormDefault="qualified" version="2025.2.1">
	<xs:include schemaLocation="cbr_ed_objects_v2025.2.1.xsd"/>
	<xs:import namespace="urn:cbr-ru:ed:leaftypes:v2.0" schemaLocation="cbr_ed_leaftypes_v2025.2.1.xsd"/>
	<xs:annotation>
		<xs:documentation>Локальные прикладные объекты</xs:documentation>
	</xs:annotation>
	<xs:complexType name="COSSenderInfo">
		<xs:annotation>
			<xs:documentation>Информация об отправителях ЭС</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SWIFTTypeList" type="ed:SWIFTTypeList" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Список типов сообщений SWIFT MT</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TSLCTypeList" type="ed:TSLCTypeList" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Список типов сообщений TSLC</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ISOTypeList" type="ed:ISOTypeList" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Список типов сообщений ISO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ISOTSTypeList" type="ed:ISOTSTypeList" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Список типов сообщений ISO TS</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ISOCTCCRTypeList" type="ed:ISOCTCCRTypeList" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Список типов сообщений ISO CTCCR</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SWIFTMXTypeList" type="ed:SWIFTMXTypeList" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Список типов сообщений SWIFT MX</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="UIS" type="lt:EDDrawerIDType" use="required">
			<xs:annotation>
				<xs:documentation>Уникальный идентификатор, присвоенный составителю/получателю ЭС</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SWIFTBIC" type="lt:UICIDType">
			<xs:annotation>
				<xs:documentation>КП</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ESExchangeInfo">
		<xs:annotation>
			<xs:documentation>Список идентификаторов, присвоенных отправителям</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="COSSenderInfo" type="ed:COSSenderInfo" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Информация об отправителях ЭС</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="ServicesCode" type="lt:OneDigitCodeType" use="required">
			<xs:annotation>
				<xs:documentation>Код услуги</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="BeginDate" type="lt:DateType" use="required">
			<xs:annotation>
				<xs:documentation>Дата начала обмена сообщениями</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="EndDate" type="lt:DateType">
			<xs:annotation>
				<xs:documentation>Дата исключения из обмена сообщениями</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ESSize" type="lt:Max9ByteQuantityType">
			<xs:annotation>
				<xs:documentation>Максимальный размер ЭС</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ARMNo" type="lt:TwoDigitIdentifierType">
			<xs:annotation>
				<xs:documentation>Номер АРМ</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="COSCustomerInfo">
		<xs:annotation>
			<xs:documentation>Реквизиты клиента, по которому предоставляется информация об атрибутах участия в обмене сообщениями в платежной системе</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="lt:Max160TextType">
				<xs:annotation>
					<xs:documentation>Наименование клиента</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EnglishName" type="lt:Max160TextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование клиента на английском языке</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ESExchangeInfo" type="ed:ESExchangeInfo" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Информация об участии в обмене ЭС</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="UIS" type="lt:EDDrawerIDType" use="required">
			<xs:annotation>
				<xs:documentation>Уникальный идентификатор, присвоенный составителю/получателю ЭС</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="BIC" type="lt:BICRUIDType" use="required">
			<xs:annotation>
				<xs:documentation>БИК обслуживающего ПБР</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SWIFTBIC" type="lt:UICIDType">
			<xs:annotation>
				<xs:documentation>КП</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="IsFreeServices" type="lt:OneDigitCodeType">
			<xs:annotation>
				<xs:documentation>Признак бесплатности исходящих сообщений</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="IsFreeIncomingServices" type="lt:OneDigitCodeType">
			<xs:annotation>
				<xs:documentation>Признак бесплатности входящих сообщений</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="IsSuspensedExchange" type="lt:OneDigitCodeType">
			<xs:annotation>
				<xs:documentation>Признак приостановления обмена ЭС через ЦОС</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="IsDailyDispatchES" type="lt:OneDigitCodeType">
			<xs:annotation>
				<xs:documentation>Признак направления ЭС об услугах за день</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ChangeType" type="lt:OneDigitCodeType">
			<xs:annotation>
				<xs:documentation>Вид изменения</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AUIS" type="lt:EDDrawerIDType">
			<xs:annotation>
				<xs:documentation>УИС</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="COSCustomerProperty" type="lt:OneDigitCodeType">
			<xs:annotation>
				<xs:documentation>Дополнительный признак участника</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Прикладные части ЭС</xs:documentation>
	</xs:annotation>
	<xs:element name="ED574" type="ed:ED574"/>
	<xs:complexType name="ED574">
		<xs:annotation>
			<xs:documentation>Информация Справочника пользователей системы передачи финансовых сообщений Банка России</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ed:ESID">
				<xs:sequence>
					<xs:element name="InitialED" type="ed:EDRefID" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификаторы исходного ЭСИС.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="COSCustomerInfo" type="ed:COSCustomerInfo" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Реквизиты клиента, по которому предоставляется информация об атрибутах участия в обмене сообщениями в платежной системе</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DictionMode" type="lt:OneDigitCodeType" use="required">
					<xs:annotation>
						<xs:documentation>Вид справочника</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
