Modules/QS.Banks.Contracts/XMLSchemas/ed/cbr_ed254_v2025.2.1.xsd

<?xml version="1.0" encoding="windows-1251"?>
<!-- edited with XMLSpy v2018 rel. 2 sp1 (x64) (http://www.altova.com) by USER (ORG) -->
<!--Центральный Банк Российской Федерации.
Унифицированные форматы электронных банковских сообщений.

Схемы с описанием прикладных частей электроных сообщений, используемых в расчетной сети Банка России.
Обмен УФК-ОД ОПЕРУ1
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ed="urn:cbr-ru:ed:v2.0" xmlns:lt="urn:cbr-ru:ed:leaftypes:v2.0" targetNamespace="urn:cbr-ru:ed:v2.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2025.2.1">
	<xs:include schemaLocation="cbr_ed_objects_v2025.2.1.xsd"/>
	<xs:import namespace="urn:cbr-ru:ed:leaftypes:v2.0" schemaLocation="cbr_ed_leaftypes_v2025.2.1.xsd"/>
	<xs:annotation>
		<xs:documentation>Локальные прикладные объекты</xs:documentation>
	</xs:annotation>
	<xs:element name="Account" type="ed:Account"/>
	<xs:complexType name="Account">
		<xs:annotation>
			<xs:documentation>Состояние счета</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CBRFAccount" type="lt:AccountNumberRUIDType">
				<xs:annotation>
					<xs:documentation>Номер счета</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrencyCode" type="lt:CurrencyIDType">
				<xs:annotation>
					<xs:documentation>Код валюты/ драгоценного металла</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SumIn" type="lt:NotNegativeSumDecimalType">
				<xs:annotation>
					<xs:documentation>Входящий остаток на день</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SumDb" type="lt:NotNegativeSumDecimalType">
				<xs:annotation>
					<xs:documentation>Обороты по дебету</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SumCr" type="lt:NotNegativeSumDecimalType">
				<xs:annotation>
					<xs:documentation>Обороты по кредиту</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SumOut" type="lt:NotNegativeSumDecimalType">
				<xs:annotation>
					<xs:documentation>Исходящий остаток</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Прикладные части ЭС</xs:documentation>
	</xs:annotation>
	<xs:element name="ED254" type="ed:ED254"/>
	<xs:complexType name="ED254">
		<xs:annotation>
			<xs:documentation>Состояние счетов</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ed:ED">
				<xs:sequence>
					<xs:element name="Account" type="ed:Account" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Состояние счета</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
