Modules/QS.Banks.Contracts/XMLSchemas/ed/cbr_ed222_v2025.2.1.xsd

<?xml version="1.0" encoding="Windows-1251"?>
<!--Центральный Банк Российской Федерации.
Унифицированные форматы электронных банковских сообщений.

Схемы с описанием прикладных частей электронных сообщений, используемых в расчетной сети Банка России.

-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ed="urn:cbr-ru:ed:v2.0" xmlns:lt="urn:cbr-ru:ed:leaftypes:v2.0" targetNamespace="urn:cbr-ru:ed:v2.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2025.2.1">
	<xs:include schemaLocation="cbr_ed_objects_v2025.2.1.xsd"/>
	<xs:import namespace="urn:cbr-ru:ed:leaftypes:v2.0" schemaLocation="cbr_ed_leaftypes_v2025.2.1.xsd"/>
	<xs:annotation>
		<xs:documentation>Прикладные части ЭС</xs:documentation>
	</xs:annotation>
	<xs:element name="ED222" type="ed:ED222"/>
	<xs:complexType name="ED222">
		<xs:annotation>
			<xs:documentation>Извещение о дебете/кредите для кассовых документов</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ed:ESID">
            			<xs:sequence>
               				<xs:element name="EDRefID" type="ed:EDRefID">
                  				<xs:annotation>
                     					<xs:documentation>Идентификаторы исходного ЭПС</xs:documentation>
                  				</xs:annotation>
               				</xs:element>
					<xs:element name="RefDocInfo" type="lt:Max210TextType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Содержание операции</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Session" type="ed:Session" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Тип и номер рейса, в котором произошло исполнение распоряжения (или время исполнения) (если распоряжение исполнено в рейсе).</xs:documentation>
							<xs:documentation>Settlement Cycle Type and Number (Or Settlement Time) when FTI was settled (if FTI was settled in cycle).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="InitialED" type="ed:EDRefID" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификаторы исходного ЭСИС.</xs:documentation>
							<xs:documentation>Initial ESIM Identifiers.</xs:documentation>
						</xs:annotation>
					</xs:element>
            			</xs:sequence>
				<xs:attribute name="BIC" type="lt:BICRUIDType" use="required">
					<xs:annotation>
						<xs:documentation>БИК ПБР</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="CashDocNo" type="lt:CashDocIDType" use="required">
					<xs:annotation>
						<xs:documentation>Номер кассового документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="CashDocDate" type="lt:DateType" use="required">
					<xs:annotation>
						<xs:documentation>Дата кассового документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="CashAcc" type="lt:AccountNumberRUIDType" use="required">
					<xs:annotation>
						<xs:documentation>Лицевой счет кассы (балансовый счет 20201)</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="CashDC" type="lt:OneDigitCodeType" use="required">
					<xs:annotation>
						<xs:documentation>Признак дебета/кредита по отношению к лицевому счету кассы</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="Sum" type="lt:KopeckAmountType" use="required">
					<xs:annotation>
						<xs:documentation>Общая сумма документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="CorrAcc" type="lt:AccountNumberRUIDType" use="required">
					<xs:annotation>
						<xs:documentation>Счет, корреспондирующий со счетом кассы</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
